package ui

templ RadioButton(id , value string) {
	<p class="my-1">
		<input type="radio" name="price-qty" id={id} value={value} class="custom-radio"/>
		<label for={id} class="flex items-center gap-2">
			<span class="checkmark">
				<span class="checkmark__inner">
					<span class="dot"></span>
				</span>
			</span>
			{ children... }
		</label>
	</p>
}
