package ui

import "github.com/RPJ-Overseas-Exim/yourpharma-htmx/globs"

templ Skeleton (class string){
    <div class={globs.Merger.Merge("w-full h-8 rounded-md animate-pulse bg-muted " + class)}></div>
}
