package layouts

import "github.com/RPJ-Overseas-Exim/yourpharma-htmx/views/components"

var handleOnce = templ.NewOnceHandle()

templ Base(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, minimum-scale=1.0"/>
			<title>{ title }</title>
            @handleOnce.Once(){
            <link rel="stylesheet" href="/static/css/main.css" type="text/css" >
            <script src="/static/js/lib/htmx.min.js"></script>
            <script src="/static/js/main.mjs" type="module" defer></script>
            }
		</head>
		<body class="overflow-x-hidden">
                @components.Navbar()
                <div class="px-4 md:px-10 lg:px-20">
                    { children... }
                </div>
                @components.Footer()
		</body>
	</html>
}
