package components

import (
	"fmt"
	"github.com/RPJ-Overseas-Exim/yourpharma-htmx/utils/customTypes"
	"strconv"
	"strings"
	"github.com/RPJ-Overseas-Exim/yourpharma-htmx/views/components/ui"
)

templ Card(card *customTypes.Product) {
	<div id={ card.Id } class="card overflow-hidden project-card rounded-md bg-muted border border-muted">
		<div class="relative overflow-hidden">
			<div>
				<img
					id={ card.Id + "-img" }
					src={ fmt.Sprintf("/static/images/products/%v.webp", strings.ToLower(card.Title)) }
					alt="zolpidem medication"
					class="transition transform duration-500 w-full h-[300px] object-cover"
				/>
				<div class={ card.Id + `-img-view-overlay hidden flex 
                absolute lg:bg-background-transparent-lg top-0 bottom-0 
                w-full h-full items-center justify-center`}>
					<a href={templ.URL("/product/" + card.Id)} class="hidden lg:inline-block px-3 border-2 border-foreground md:py-2 md:px-4 text-lg md:text-2xl">
						View
					</a>
				</div>
			</div>
		</div>
		<div class="p-4">
			<div class="flex justify-between items-center mb-4">
				<h1 class="text-lg font-bold">{ card.Title }</h1>
				<p class="text-sm font-semibold text-sky-500">${ strconv.Itoa(card.PriceQty[0].Price) } / { strconv.Itoa(card.PriceQty[0].Price) }</p>
			</div>
			<div class="flex items-center gap-2">

                @ui.ButtonDiv(`border-[3px]
                w-full border-sky-600 text-sky-600 
                hover:text-foreground active:text-foreground focus:text-foreground
                hover:bg-sky-600 active:bg-sky-600 focus:bg-sky-600`){
                    <a class="w-full text-center h-full" href={templ.URL("/product/" + card.Id)}>
                        View 
                    </a>
                }

                @ui.ButtonDiv(`border-[3px]
                w-full border-green-600 bg-green-600 hover:border-green-700
                hover:bg-green-700 active:bg-green-700 focus:bg-green-700`){
                    <button>
                        Buy Now
                    </button>
                }

                @ui.Dialog()
			</div>
		</div>
	</div>
}
