package product_views

import (
	"github.com/RPJ-Overseas-Exim/yourpharma-htmx/views/components/ui"
	"github.com/RPJ-Overseas-Exim/yourpharma-htmx/views/layouts"
	"strconv"
	"strings"
	"github.com/RPJ-Overseas-Exim/yourpharma-htmx/db/models"
)

templ Product(product *models.Product) {
	@layouts.Base(product.Name + "| YourPharma") {
		<section id={ product.Id } class="xl:w-4/5 xl:mx-auto md:flex gap-4 my-4 md:my-8">
			<div class="md:w-1/2 ">
				<img src={ "/static/images/products/" + strings.ToLower(product.Name) + ".webp" } alt={ product.Name }/>
			</div>
			<div class="md:w-1/2">
				@ui.Title_h2(product.Name, "mt-2")

				<div class="border border-border rounded-md p-4">

					@ui.Title_h3("Price and Quantity", "")

					<form class="space-y-2 text-lg" action={templ.URL("/buy/" + product.Id)} method="GET" >
						<div class="pl-4 mb-4">
							for index, priceQty := range product.PriceQty {
                                if index==0 {
                                    @ui.RadioButton(templ.Attributes{"id": "price-qty-" + strconv.Itoa(int(priceQty.Qty)), "value":strconv.Itoa(int(priceQty.Qty)), "checked":"true"}) {
                                        { strconv.Itoa(int(priceQty.Qty)) + " pills for " + "$" + strconv.Itoa(int(priceQty.Price)) }
                                    }

                                }else {
                                    @ui.RadioButton(templ.Attributes{"id": "price-qty-" + strconv.Itoa(int(priceQty.Qty)), "value":strconv.Itoa(int(priceQty.Qty))}) {
                                        { strconv.Itoa(int(priceQty.Qty)) + " pills for " + "$" + strconv.Itoa(int(priceQty.Price)) }
                                    }
                                }
							}
						</div>
						@ui.ButtonDiv("bg-green-600 hover:bg-green-700") {
							<button type="submit" class="w-full h-full text-center">Buy Now</button>
						}
					</form>
				</div>
			</div>
		</section>
	}
}
