package components_order

import "github.com/RPJ-Overseas-Exim/yourpharma-htmx/views/components/ui"

templ SummaryForm() {
	<form id="confirmation-form" class="flex flex-col justify-between grow-1 h-full shrink-0 w-full p-4">
		<div class="space-y-2">
			@OrderFormProgress(1)

            @ui.SummaryField("Name", "name-summary")
            @ui.SummaryField("Email", "email-summary")
            @ui.SummaryField("Address", "address-summary")
            @ui.SummaryField("Payment Method", "payment-method-summary")
		</div>
		<div class="pt-4 flex gap-2">
			@ui.ButtonDiv("bg-red-600 hover:bg-red-700 w-1/2") {
				<button type="button" data-page="1" class="w-full h-full text-center prev-submit">
					Prev
				</button>
			}
			@ui.ButtonDiv("bg-green-600 hover:bg-green-700 w-1/2") {
				<button id="summary-form__submit" data-page="1" type="submit" class="w-full h-full text-center">
					Submit
				</button>
			}
		</div>
	</form>
}
