package components_order

import "github.com/RPJ-Overseas-Exim/yourpharma-htmx/views/components/ui"
import "fmt"

templ SummaryForm(id string, qty int) {
	<div id="confirmation-form" class="flex flex-col justify-between grow-1 h-full shrink-0 w-full p-4">
		<div class="space-y-2">
			@OrderFormProgress(1)
			@ui.SummaryField("Name", "name-summary")
			@ui.SummaryField("Email", "email-summary")
			@ui.SummaryField("Number", "mobile-number-summary")
			@ui.SummaryField("Address", "address-summary")
			@ui.SummaryField("Payment Method", "payment-method-summary")
		</div>
		<div class="pt-4 flex gap-2">
			@ui.ButtonDiv("bg-red-600 hover:bg-red-700 w-1/2") {
				<button
					type="button"
					data-page="1"
					class="w-full h-full text-center prev-submit"
				>
					Prev
				</button>
			}
			@ui.ButtonDiv("bg-green-600 hover:bg-green-700 w-1/2") {
				<button
					hx-post={fmt.Sprintf("/order/%[1]s?price-qty=%[2]d", id, qty)}
					hx-target="#confirmed-order-container"
                    hx-include="#contact-form"
					id="summary-form__submit"
					data-page="1"
					type="button"
					class="w-full h-full text-center p-2"
				>
					Submit
				</button>
			}
		</div>
	</div>
}
