package home_views

import "github.com/RPJ-Overseas-Exim/yourpharma-htmx/views/layouts"
import "github.com/RPJ-Overseas-Exim/yourpharma-htmx/views/components"
import "github.com/RPJ-Overseas-Exim/yourpharma-htmx/views/components/home"
import "github.com/RPJ-Overseas-Exim/yourpharma-htmx/utils/customTypes"

templ Home( products []*customTypes.Product) {
    <main class="my-4 md:my-8">
        @components_home.Home_Title_h1("Featured Products")
        <section id="featured-products">
            @components.Cards(products)
        </section>
    </main>
}


templ HomeIndex(title string, cmp templ.Component) {
	@layouts.Base(title) {
		@cmp
	}
}
